<h1>What is Team DJ?</h1>
<p>Team DJ was designed to encourage comradare within a geographically dispersed team.  Each team member is able to add their preferred music to a shared playlist which everyone listens to together.  Vote TUNE for the songs you like or SHAME those terrible songs, then when the playlist runs out, Team DJ will keep playing everyone's favourite songs.</p>

<h1>

<h1>What makes Team DJ go?</h1>
<p>Team DJ is designed and developed by me, Tom Curran, as a development experiment.  It uses Yeoman, Firebase, AngularJS, Bootstrap, Karma, Sass and many other tools which I wanted to add to my skill set as a full stack developer.</p>
<div class="row">
	<div class="col-xs-2">
		<a href="//yeoman.io/" target="_blank">
			<img src="images/yeoman.png" class="img-responsive" alt="yeoman">
		</a>
	</div>
	<div class="col-xs-10">
		<p><a href="//yeoman.io/" target="_blank">Yeoman</a> is a scaffolding application which utilises <a href="//gruntjs.com/" target="_blank">Grunt</a> and <a href="//bower.io/" target="_blank">Bower</a> to quickly generate the skeleton for new applications.</p>
		<p>Team DJ uses the <a href="//github.com/firebase/generator-angularfire" target="_blank">angularfire</a> generator which scaffolds a single page application which connects to a Firebase back end.
	</div>
</div>
<div class="row">
	<div class="col-xs-8">
		AngularFire is an <a href="//angularjs.org/" target="_blank">AngularJS</a> front end connected to a <a href="//firebase.io" target="_blank">Firebase</a> back end.  This provides a three-way data binding between the HTML, JavaScript, and the Firebase database.  That means that when data is changed anywhere, like in the Firebase database for example, the change is immediately reflected everywhere else, such in the JavaScript object model and the page HTML.
	</div>
	<div class="col-xs-2">
		<a href="//angularjs.org" target="_blank">
			<img src="images/angularjs.png" class="img-responsive" alt="AngularJS">
		</a>
	</div>
	<div class="col-xs-2">
		<a href="//firebase.io" target="_blank">
			<img src="images/firebase.png" class="img-responsive" alt="Firebase">
		</a>
	</div>
</div>

