<div class="jumbotron">
  <h1>Hiya! <br/> <em>This</em> is Team-DJ!!!</h1>
  <p class="lead">
    <img src="images/team_dj.png" alt="Team DJ"><br>
    Listen together.  Work together.
  </p>
</div>

<div class="row">
	<div class="well" ng-hide-auth="">
		Please <a href="#/login">log in</a> to start making changes to the playlist or controlling playback. Ta Bra.
	</div>
	<div class="well" ng-show-auth="">
		Head over to the <a ng-href="#/playlist">playlist</a> to start adding your sick tracks (or even good tracks).
	</div>
</div>